img.book-cover-img {
    height: 300px;
    width: auto;
}

h2.category-name {
    background-color: var(--link);
    padding: 20px;
    margin-top: -3.5px;
    border-left-color: var(--icolor);
    border-left-style: solid;
    border-left-width: 5px;
    transition: border-left-width 0.8s linear;
}

h2.category-name:hover {
    border-left-width: 20px;
}

.list-book-container .list-item-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 25px;
}

.list-item-container .book-item {
    text-align: center;
    padding: 20px;
}

.list-item-container .book-item .book-title {
    height: 70px;
    font-weight: bold;
}

.list-item-container .book-item .book-author {
    height: 50px;
}

.list-item-container .book-item .book-view {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    justify-content: center;
}

.book-container {
    z-index: 1;
    perspective: 3000px;
}

.book-container .book-cover-container {
    position: relative;
    display: block;
    width: 200px;
    height: 300px;
    margin: 5% auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: -10px 6px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}


/* .book-container .book-cover-container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
} */

.book-container .book-cover-container>div,
.book-container .front>div {
    display: block;
    position: absolute;
}

.book-container .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;
}

.book-container .front>div {
    width: 200px;
    height: 300px;
}

.book-container .left-side {
    width: 40px;
    left: -20px;
    height: 300px;
    background-color: rgba(232, 229, 234);
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.cover img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 13px;
    width: 200px;
}

.book-container .front>div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book-container .front:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.book-container .cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}