#sticky-bar {
  position: sticky;
  top: 66px;
  z-index: 100;
}
.dropdown-item,
.dropdown-item:focus {
  color: hotpink;
}
.dropdown-item:focus {
  background: initial;
}
.dropdown-item:hover {
  color: var(--ihover);
}

/* .nav-link,
.nav-link:focus {
  color: hotpink;
}
.nav-link:hover {
  color: var(--ihover);
} */
.comment-trash {
  bottom: 0.5vh;
  right: 0.5vw;
}
.comment-trash button {
  border-radius: 50%;
  padding: 5px 10px;
}
.btn-danger {
  background: hotpink !important;
}
.btn:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus,
.btn-check:focus + .btn,
.accordion-button:focus,
.page-link:focus,
.btn-close:focus {
  box-shadow: none !important;
}
