.custom-book-info-box {
  padding: 2rem;
  max-width: fit-content;
  background-color: #f2f2f2;
}
.custom-max-box {
  padding: 2rem;
  background-color: #f2f2f2;
}
.custom-min-box {
  padding: 0.5rem;
  background-color: #f2f2f2;
}
.custom-min-box-fit-content {
  padding: 0.5rem;
  max-width: fit-content;
  background-color: #f2f2f2;
}
:root {
  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: #f1a1e3;
  --underline-cap-width: 4px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
  /* --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg); */
  --cap-image-left: url(../images/css/left.svg);
  /* --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg); */
  --cap-image-right: url(../images/css/right.svg);
}
.custom-book-info-heading {
  display: inline;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
  padding: 0
    calc(
      var(--underline-padding-x) +
        calc(var(--underline-cap-width) * var(--underline-width-scale))
    );
  box-decoration-break: clone;
  background-repeat: no-repeat;
  color: #1221ff;
  background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    ),
    var(--cap-image-left), var(--cap-image-right);
  background-position-x: calc(
      var(--underline-cap-width) * var(--underline-width-scale)
    ),
    0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(
        100% -
          calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
      )
      calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}
.custom-book-info-heading--2 {
    --underline-width: 8;
    --underline-offset-y: -2px;
}
.custom-book-info-heading--3 {
  --underline-width: 6;
  --underline-offset-y: -2px;
}
.custom-book-info-heading--4 {
  --underline-width: 5;
  --underline-offset-y: -2px;
}
.custom-book-info-heading--5 {
  --underline-width: 4;
  --underline-offset-y: -2px;
}