.custom-card {
  /* width: 90%; */
  background:#fff;
  border: solid black;
  border-color: black;
  border-width: 5px 3px 3px 5px;
  /* border-radius: 95% 4% 97% 3%/4% 94% 3% 90%; */
  border-radius: 2em 1em 4em / 0.5em 3em;
  /* transform: rotate(1.5deg);  */
}
.custom-card-2 {
  background: #00c3ff;
  border: none;
}