:root {
  --light: #f0f7d4;
  --link: #b2d732;
  --linkhover: #6e8322;
  --primary: #4424d6;
  --icolor: #fc600a;
  --ihover: #dd560d;
  --dark: #110934;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: var(--light);
  padding-top: 3rem;
}
textarea {
  resize: none;
}

#liveSearch {
  width: 356px;
  height: 200px;
  background-color: #f0f7d4;
  position: absolute;
  display: none;
  z-index: 100;
}
