/* div#BGR {
    background-color: rgb(94, 94, 94);
    height: 50vh;
    width: 100%;
    margin-top: 11px;
}

div#AVT {
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%/50%;
    top: 30vh;
    left: 40%;
}

div#BGR img.bgr {
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

div#AVT img.avt {
    width: 100%;
    height: 100%;
    border-radius: 50%/50%;
}

.edit {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

#BGR .edit {
    top: 50%;
    left: 76%;
}

#AVT .edit {
    top: 75%;
    left: 60%;
} */