div.member a {
  padding: 7.6px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: var(--light);
}
.member a img {
  height: 35.4px;
  width: 35.4px;
  /* padding: 10px; */
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
}
div.member .drop-content a i {
  margin-right: 20px;
}
div.member .drop-content {
  right: 0;  
}
div.member:hover > a {
    background-color: #806ece;
}  
div.member:hover > a img {
    border: 2px solid var(--icolor);
} 