@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#rating {
  border: none;
  float: left;
}
#rating > input {
  display: none;
}
#rating > label::before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
#rating > label {
  color: #ddd;
  float: right;
}
#rating > input:checked ~ label,
#rating:not(:checked) > label:hover,
#rating:not(:checked) > label:hover ~ label {
  color: var(--icolor);
}
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label {
  color: var(--ihover);
}
#add-favourite > input {
  display: none;
}
#add-favourite > label::before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f004";
  /* \f08a */
}
#add-favourite {
  float: right;
}
#add-favourite > label {
  color: #ddd;
  /* float: right; */
}
#add-favourite > input:checked ~ label,
#add-favourite:not(:checked) > label:hover,
#add-favourite:not(:checked) > label:hover ~ label {
  color: var(--icolor);
}
#add-favourite>input:checked+label:hover,
#add-favourite>input:checked~label:hover,
#add-favourite>label:hover~input:checked~label,
#add-favourite>input:checked~label:hover~label {
  color: var(--ihover);
}
